.Top {
  color: greenyellow;
  background-color: whitesmoke;
  size: 10px;
}

.Bottom {
  color: red;
  background-color: whitesmoke;
  size: 10px;
}

.ScoreBoard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
